html {
    font-size: 22px;
}

body {
    background-color:beige;
    background-attachment: fixed;
    background-image: none;
    color: rgb(5, 0, 0);
}

a {
    color: rgb(40, 9, 244);
}

a:visited {
    color: black;
}

a:hover, a:active {
    color: #eee;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}